@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<li class="nav navbar-nav"></li>
        <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <div class="photo">
                    <img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" alt="Profile Photo">
                </div>
                <b class="caret d-none d-lg-block d-xl-block"></b>
            </a>
            <ul class="dropdown-menu dropdown-navbar">
                <li class="nav-link">
                    <a class="nav-item dropdown-item" href="@Url.Action("Index", "Manage", new { id = "ManageLink" })"> Olá @User.Identity.GetUserName()</a>
                </li>
                <li class="nav-link">
                    <a class="nav-item dropdown-item" href="@Url.Action("Index", "Manage", new { id = "ManageLink" })">Perfil</a>
                </li>

                <li class="nav-link">
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-item dropdown-item">Log out</a>
                </li>
            </ul>
        </li>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Cadastrar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
