@model enzo_estoqueV1.Models.Venda

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>
<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <dd>
                        Venda:  @Html.DisplayFor(model => model.Descricao)
                    </dd>
                </div>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Transportadora.Descricao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Transportadora.Descricao)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Quantidade)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Quantidade)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EnderecoDeEntrega)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EnderecoDeEntrega)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ValorTotal)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ValorTotal)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Situacao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Situacao)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Pagamento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Pagamento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DataVenda)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DataVenda)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>